.calculator_container {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    width: 600px;
    font-size: 4rem;
}

.calculator_screen {
    border: 1px solid black;
    display: flex;
    height: 150px;
    flex-grow: 1;
    overflow-wrap: break-word;
}

.calculator_button {
    border: 1px solid black;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

#buttonClear {
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator_column {
    display: flex;
    flex-direction: column;
}

.calculator_row {
    display: flex;
}
